/Resource/*

/bazarr
/qbittorrent
/heimdall
/jackett
/Jellyfin
/jellyseerr
/photoprism
/mariadb
/aria2
/baidunetdisk

/letsencrypt/config
/letsencrypt/secrets

/prowlarr
/radarr
/sonarr
/transmission
